{% extends 'users/layout.html' %}
{% block title %} User Login | {{block.super}} {% endblock %}
{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form action="{% url 'users:login' %}" method="POST" class="text-center">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Login" class="btn btn-success btn-round">
            </form>
        </div>
    </div>
</div>

{% endblock %}