{% extends 'users/layout.html' %}
{% block title %} User Login | {{block.super}} {% endblock %}
{% block content %} 

<div class="container">
        <div class="row">
            <div class="col-lg-6 offset-3">
                    {% if messages %}
                    <ul class="messages mt-1 mb-1">
                        {% for message in messages %}
                            <li {% if message.tags == "error" %} class="bg-danger text-white" 
                            {% elif message.tags == "success" %} class="bg-success text-white"
                            {% endif %}>{{message}}</li><br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <form action="login" method="POST" class="text-center">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Login" class="btn btn-success btn-round">
            </form>
        </div>
    </div>
</div>

{% endblock %}