{% extends 'users/layout.html' %}
{% block title %} User Dashboard | {{block.super}} {% endblock %}
{% block content %} 


<div class="container">
        <div class="row">
            <div class="col-lg-6 offset-3">
                    {% if messages %}
                    <ul class="messages mt-1 mb-1">
                        {% for message in messages %}
                            <li {% if message.tags == "error" %} class="bg-danger text-white" 
                            {% elif message.tags == "success" %} class="bg-success text-white"
                            {% endif %}>{{message}}</li><br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jumbotron text-center text-white">
                <h3>{{profile.first_name}} {{profile.last_name}}</h3>
                <hr>
                <p>{{profile.email}}</p>
                <p>{{profile.username}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <h4 class="text-center">Leave a message to this user?</h4>
                </div>
                <div class="card-body text-center">
                    <form action="/dashboard/profile/{{user.id}}/send_message" method="POST" class="text-center">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea name="content" cols="30" rows="10" class="form-control" placeholder="Send a message here..."></textarea>
                        </div>
                        <input type="submit" value="Send" class="btn btn-success btn-round">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 offset-1">
            <div class="card mt-1 mb-5">
                <div class="card-header">
                    <h3 class="text-center mt-5">Messages</h3>
                    <hr>
                </div>
                <div class="card-body text-center">
                    {% for msg in msgs %}
                        <div class="message">
                            <small>{{msg.created_at}}</small>
                            <p>{{msg.content}}</p>
                            <small>{{msg.sender.first_name}} {{msg.sender.last_name}}</small> <br>
                            <a href="/comments/{{msg.id}}" class="btn btn-info btn-round">Comments</a>
                        </div>
                       
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}